<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
    
            li {
                float: left;
            }
    
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
    
            li a:hover:not(.active) {
                background-color: #111;
            }
    
            .active {
                background-color: #4CAF50;
            }
        </style>
    

</head>

<body>
    
    <h1 align="center">Learning Management Solution</h1>
    <ul>
            <!-- class="active"
                    <li><a  href="">Home</a></li> -->
            <li>
                <a href="courses.html">Courses</a>
            </li>
            <li>
                <a href="students.html">Students</a>
            </li>
            <li>
                <a href="subjects.html">Subjects</a>
            </li>
            <li>
                    <a href="teachers.html">Teachers</a>
                </li>
                <li>
                        <a href="batches.html">batches</a>
                    </li>
                    <li>
                            <a href="lectures.html">Lectures</a>
                        </li>
        </ul>

        <div id="lectures" class="container" style="background-color:lightblue" align="left">
                <h5>Lectures </h5>
                <div class="form-group">
                        <label>Batch:</label>
                        <select v-model="searchBatch">
                            <option v-for="batch in batches" :value="batch.id">
                                {{ batch.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label>Course:</label>
                            <select v-model="searchCourse">
                                <option v-for="course in courses" :value="course.id">
                                    {{ course.name }}
                                </option>
                            </select>
                        </div>
                        <button v-on:click="getLectures" class="btn btn-default">Search</button>

                <div >
                    <ul class="list-group">
                        
                        <li class="list-group-item" v-for="lecture in Lectures"><b>{{lecture.id}}    </b>{{lecture.name}}</li>
                    </ul>
                </div>
                <br>
                <br>
                <div style="background-color:rgb(156, 217, 186)">
                   
                <h5>Add a Lecture</h5>
                <div class="form-group">
                        <label>Lecture Name:</label>
                        <input v-model="lectureName" type="text" class="form-control" placeholder="Lecture Name">
                    </div>
                    <div class="form-group">
                        <label>Batch:</label>
                        <select v-model="batchId">
                            <option v-for="batch in batches" :value="batch.id">
                                {{ batch.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label>Course:</label>
                            <select v-model="courseId">
                                <option v-for="course in courses" :value="course.id">
                                    {{ course.name }}
                                </option>
                            </select>
                        </div>
                    <button v-on:click="addTeacher" class="btn btn-default">ADD</button>
                    </div>
            </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let app = new Vue({
            el: '#lectures',
            data: {
                lectures: [],
                batchId:'',
                courseId:'',
                batches:[],
                courses:[],
                lectureName:'',
                searchBatch:'',
                searchCourse:''
            },
            methods: {
                getTeachers: function() {
                    axios.get('http://localhost:3000/'+this.searchCourse+'/batches/'+this.searchBatch+'/lectures')
                         .then(responce => {
                             this.lectures = responce.data
                         })
                         .catch(err => {
                             console.log('could not get teachers')
                         })
                },
                getBatches: function() {
                    axios.get('http://localhost:3000/batches')
                         .then(responce => {
                             this.batches = responce.data
                         })
                         .catch(err => {
                             console.log('could not get subjects')
                         })
                },
                getCourses: function() {
                    axios.get('http://localhost:3000/courses')
                         .then(responce => {
                             this.courses = responce.data
                         })
                         .catch(err => {
                             console.log('could not get subjects')
                         })
                },
                addLecture: function() {
                    axios.post('http://localhost:3000/teachers', {
                        name: this.lectureName,
                        batchId:this.batchId,
                       
                        courseId: this.courseId
                    })
                        .then(function (response) {
                            console.log(response);
                            if (response.status !== 200) {
                                alert("Not success!")
                            }
                            app.getLectures()
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    this.teacherName = '';
                }
            }

        })
        
        app.getCourses();
        app.getBatches();
    </script>
    
</body>

</html>